// SECCION NUESTROS SERVICIOS //
$color-principal:  #ff6600;
$color-secund: #03456D;
$fuente-titulo: 'Shadows Into Light', cursive;

@mixin flex($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: ($direction);
}

@mixin line{
    width: 150px;
    height: 4px;
    background: $color-principal;
    margin: 10px auto;
    border-radius: 5px;
}

#carouselExampleCaptions{
    padding: 0 20px;
    
    .d-block{
        
        width: 1200px;
        height: 800px ;
        object-fit: cover;
    }
   .carousel-caption{
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    }

}


.nuestrosServicios{
    @include flex(column);
    padding: 20px;
    margin: 40px;

    h1{
    font-size: 6vmin;
    font-family: $fuente-titulo;
    }
    .line{
        @include line;
    }
    p{
        margin: 15px;
    }
}
.servicio{
    @include flex(row);
    flex-wrap: nowrap;
    margin: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #eee;
     
    @media screen and (max-width: 768px){
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            img{
                max-width: 200px;
            }
         
       }

    .descripcion-Serv{
        margin: 20px;
        padding: 20px;

        h4{
            color:$color-secund;
            
        }
        @media screen and (max-width: 1024px){
            text-align: center;
       }
    }
   
 }
   
