@mixin flex($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: ($direction);
}


/* SECCION OFERTAS */
.promoPresentacion{
    @include flex(row);
    flex-wrap: wrap;
    margin-top: 50px;
    padding-top: 15px;

    @media screen and (max-width: 768px){
        img{
            max-width: 350px;
            position: relative;
      }
    }
}
.ofertas{
    @include flex(column);
    flex-wrap: wrap;
    .contenedorPromo{
        @include flex(row);
        flex-wrap: nowrap;
        margin: 30px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #eee; 

        @media screen and (max-width: 768px){
            flex-direction: column;
            align-items: center;
        }
        .descripcionPromo{
            margin: 20px;
            padding: 20px;
            .precioPromo{
                margin-left: 20px ;
            }
        }  
    }
}
